<div class="w-full h-screen grid grid-cols-1 place-items-center bg-gray-50">
  @if(bookingDetails | async; as booking){
  <div
    class="w-9/12 h-5/6 mx-auto p-6 grid grid-cols-2 place-items-center bg-white shadow-lg rounded-lg"
  >
    <div class="p-6">
      <img src="/sky-young-woman-drinking-a-cocktail-on-a-lounger.gif" alt="" />
    </div>
    <div>
      <h1 class="text-3xl font-bold text-gray-800 mb-2">Booking confirmed!</h1>
      <p class="text-gray-500 text-md my-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. <br />
        Quisquam itaque laboriosam iusto eum
      </p>
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800 mb-2">
          Booking Details
        </h2>
        <ul class="space-y-2">
          <li class="flex items-center space-x-2">
            <span>First Name:</span>
            <span class="text-gray-800 font-semibold">{{
              booking.firstName
            }}</span>
          </li>
          <li class="flex items-center space-x-2">
            <span>Last Name:</span>
            <span class="text-gray-800 font-semibold">{{
              booking.lastName
            }}</span>
          </li>
          <li class="flex items-center space-x-2">
            <span>Email:</span>
            <span class="text-gray-800 font-semibold">{{ booking.email }}</span>
          </li>
          <li class="flex items-center space-x-2">
            <span>Check-In:</span>
            <span class="text-gray-800 font-semibold">{{
              booking.checkIn | date
            }}</span>
          </li>
          <li class="flex items-center space-x-2">
            <span>Check-Out:</span>
            <span class="text-gray-800 font-semibold">{{
              booking.checkOut | date
            }}</span>
          </li>
        </ul>
      </div>

      <div class="flex space-x-4 mb-6">
        <a
          [routerLink]="['/booking/edit', booking._id]"
          class="border border-blue-600 text-blue-600 py-2 px-4 rounded-md"
        >
          Edit information
        </a>
        <a
          [routerLink]="['/']"
          class="bg-blue-600 text-white py-2 px-4 rounded-md"
        >
          Got it!
        </a>
      </div>
      <span class="text-gray-500"
        >Do you want to cancel your booking?
        <button (click)="cancelBooking()" class="font-semibold">
          Cancel booking
        </button></span
      >
    </div>
  </div>
  }
</div>
