<div
  class="h-screen grid grid-cols-1 gap-10 lg:grid-cols-2 place-items-center bg-gray-50"
>
  <div >
    <h2 class="text-3xl font-semibold mb-6">
      Book perfect stay for your vacation
    </h2>
    <p class="mb-6 text-gray-500 text-md">
      Stay at our luxurious hotel with all amenities included. Experience the
      best comfort for your holidays!
    </p>
    <div class="mt-6">
      <form
        [formGroup]="bookingForm"
        (ngSubmit)="onSubmit()"
        class="mt-12 space-y-5"
      >
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label class="block mb-1">First name*</label>

            <input
              formControlName="firstName"
              type="text"
              placeholder="Enter your name"
              class="w-full px-3 py-2 border rounded-md"
              [ngClass]="{
                'border-red-500':
                  bookingForm.get('firstName')?.invalid &&
                  bookingForm.get('firstName')?.touched,
                'border-gray-300':
                  !bookingForm.get('firstName')?.touched ||
                  bookingForm.get('firstName')?.valid
              }"
              required
            />
            <div
              *ngIf="
                bookingForm.get('firstName')?.invalid &&
                bookingForm.get('firstName')?.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              This field is required
            </div>
          </div>

          <div>
            <label class="block mb-1">Last name*</label>
            <input
              formControlName="lastName"
              type="text"
              placeholder="Enter your last name"
              class="w-full px-3 py-2 border rounded-md"
              [ngClass]="{
                'border-red-500':
                  bookingForm.get('lastName')?.invalid &&
                  bookingForm.get('lastName')?.touched,
                'border-gray-300':
                  !bookingForm.get('lastName')?.touched ||
                  bookingForm.get('lastName')?.valid
              }"
              required
            />
            <div
              *ngIf="
                bookingForm.get('lastName')?.invalid &&
                bookingForm.get('lastName')?.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              This field is required
            </div>
          </div>
        </div>

        <div>
          <label class="block mb-1">Email</label>
          <input
            formControlName="email"
            type="email"
            placeholder="Enter your email"
            class="w-full px-3 py-2 border rounded-md"
            [ngClass]="{
              'border-red-500':
                bookingForm.get('email')?.invalid &&
                bookingForm.get('email')?.touched,
              'border-gray-300':
                !bookingForm.get('email')?.touched ||
                bookingForm.get('firstName')?.valid
            }"
          />
          <div
            *ngIf="
              bookingForm.get('email')?.invalid &&
              bookingForm.get('email')?.touched
            "
            class="text-red-500 text-sm mt-1"
          >
            This field must be email type
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mb-10">
          <div>
            <label class="block mb-1">Check In*</label>
            <input
              formControlName="checkIn"
              type="date"
              class="w-full px-3 py-2 border rounded-md"
              [ngClass]="{
                'border-red-500':
                  bookingForm.get('checkIn')?.invalid &&
                  bookingForm.get('checkIn')?.touched,
                'border-gray-300':
                  !bookingForm.get('checkIn')?.touched ||
                  bookingForm.get('checkIn')?.valid
              }"
              required
            />
            <div
              *ngIf="bookingForm.get('checkIn')?.hasError('tooEarly')"
              class="text-red-500"
            >
              Sorry, you can make the reservation up to 30 days before
            </div>
            <div
              *ngIf="
                bookingForm.get('checkIn')?.invalid &&
                bookingForm.get('checkIn')?.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              This field is required
            </div>
          </div>
          <div>
            <label class="block mb-1">Check Out*</label>
            <input
              formControlName="checkOut"
              type="date"
              class="w-full px-3 py-2 border rounded-md"
              [ngClass]="{
                'border-red-500':
                  bookingForm.get('checkOut')?.invalid &&
                  bookingForm.get('checkOut')?.touched,
                'border-gray-300':
                  !bookingForm.get('checkOut')?.touched ||
                  bookingForm.get('checkOut')?.valid
              }"
              required
            />
            <div
              *ngIf="
                bookingForm.get('checkOut')?.invalid &&
                bookingForm.get('checkOut')?.touched
              "
              class="text-red-500 text-sm mt-1"
            >
              This field is required
            </div>
          </div>
          <div
            *ngIf="bookingForm.hasError('dateRangeInvalid')"
            class="text-red-500"
          >
            Sorry, but your stay cannot be more than 3 days
          </div>
        </div>

        @if(messageCheck){
          <p>{{messageCheck}}</p>
        }

        <button
          type="submit"
          [disabled]="bookingForm.invalid"
          class="w-full bg-blue-600 text-white py-2.5 rounded-md disabled:opacity-50"
        >
          Confirm reservation
        </button>
      </form>
    </div>
  </div>
  <div class="w-full h-full booking-img"></div>
</div>
